*{
    margin: 0;
    padding: 0;
}


body {
    line-height: 1.4;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}



.header{
    width: 100%;
    padding: 4rem 0;
    background-color: rgb(54, 53, 53);
}
.header__content{
    width: 100%;
    text-align: center;
}
.header__content h1{
    color: rgb(212, 212, 212);
    font-size: 2.5rem;
}
.header__content h4{
    color: rgb(188, 186, 186);
    font-weight: 300;

}
.header__content button{
    padding: 1rem 1rem;
    border-radius: 10px;
    background-color: rgb(59, 91, 64);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}
.text{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
}



.img__content { 
    padding: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;  
    align-items: center;
    justify-content: center;
}
.img__content .item{
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 300px;
    background-color: rgb(78, 85, 90);
}
.img__content .item button{
    padding: 1rem 3rem;
   margin-top: 10px;
   font-size: 1.2rem;
   background-color: rgb(196, 196, 6);
   color: rgb(10, 10, 10);
}
.img__content .item  p{
    font-size: 1.4rem;
    font-weight: 900;
   
}
.img__content .item  h2{
    font-size: 1.4rem;
  
}
.img__content .item .flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
   padding-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px solid wheat;
    
}






